@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hind-madurai-v11-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/hind-madurai-v11-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-madurai-v11-latin-700.woff2") format("woff2");
}
:root {
  --color-btn: #D23166;
  --color-text: #0F0101;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-family: "hind-madurai", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding-top: 10px;
  padding: 16px;
  background-color: rgba(242, 206, 218, 0.3);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: var(--color-text);
  opacity: 0.6;
  transition: all 0.3s;
  cursor: pointer;
}

.header-link:hover {
  color: var(--color-btn);
}

.header-btn {
  width: 165px;
  padding: 14px;
  background-color: var(--color-btn);
  color: #FAFAFA;
  font-family: Hind Madurai;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  border: 2px solid transparent;
}

.header-btn:hover {
  background-color: #FAFAFA;
  color: var(--color-btn);
  border-color: var(--color-btn);
  transform: scale(1.1);
  border-radius: 20%;
}

.hero-section {
  background-color: rgba(242, 206, 218, 0.3);
  padding-top: 60px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content-wrapper {
  width: 615px;
}

.hero-count {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.1em;
  color: var(--color-text);
  margin-bottom: 6px;
}

.hero-title {
  font-family: Hind Madurai;
  font-size: 57.33px;
  font-weight: 800;
  line-height: 69.08px;
  color: var(--color-text);
  opacity: 0.9;
  margin-bottom: 35px;
}

.hero-title > span {
  font-family: Hind Madurai;
  font-size: 57.33px;
  font-weight: 800;
  line-height: 69.08px;
  color: var(--color-btn);
  opacity: 0.9;
}

.hero-text {
  font-family: Hind Madurai;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--color-text);
  opacity: 0.6;
  margin-bottom: 50px;
}

.hero-btn {
  width: 165px;
  padding: 16px;
  background-color: var(--color-btn);
  color: #FAFAFA;
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
  font-family: Hind Madurai;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
}

.hero-btn:hover {
  background-color: #FAFAFA;
  color: var(--color-btn);
  border-color: var(--color-btn);
  border-radius: 20%;
  transform: scale(1.1);
}

.shipping-section {
  padding: 60px;
}

.shipping-list {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shipping--item {
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.031372549);
  border-radius: 7px;
  padding: 33px 26px 26px 26px;
  transition: all 0.3s;
}

.shipping--item:hover {
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.1019607843);
}

.shipping-img {
  margin-bottom: 25px;
}

.shipping-title {
  font-family: Hind Madurai;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.6px;
  color: #000000;
  margin-bottom: 9px;
}

.shipping-text {
  font-family: Hind Madurai;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  color: #000000;
  opacity: 0.6;
}

.brown-section {
  background-color: #F8EDF0;
  margin-bottom: 132px;
}

.brown-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brown-content-wrapper {
  width: 442px;
}

.brown-title {
  width: 300px;
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-weight: 600;
  line-height: 48.84px;
  color: var(--color-text);
  margin-bottom: 16px;
}

.brown-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text);
  opacity: 0.6;
  margin-bottom: 35px;
}

.brown-btn {
  width: 165px;
  padding: 15px;
  background-color: var(--color-btn);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #FAFAFA;
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.brown-btn:hover {
  background-color: #FAFAFA;
  color: var(--color-btn);
  border-radius: 20%;
  border-color: var(--color-btn);
  transform: scale(1.1);
}

.product-section {
  margin-bottom: 117px;
}

.product-title {
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-weight: 600;
  line-height: 61px;
  text-align: center;
  color: #150101;
  margin-bottom: 64px;
}

.product-list {
  margin-bottom: 109px;
}

.product-item {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.product-link {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  color: #000000;
  opacity: 0.6;
}

.product-wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.product-content-wrapper-top {
  width: 454px;
}

.product-subtitle {
  font-family: Hind Madurai;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  margin-bottom: 11px;
}

.product-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 28px;
}

.product--count {
  font-family: Hind Madurai;
  font-size: 26px;
  font-weight: 600;
  line-height: 35.88px;
  color: #000000;
}

.product-text-two {
  display: inline-block;
  font-family: Hind Madurai;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.6px;
  text-align: left;
  color: #000000;
  opacity: 0.7;
  text-decoration: line-through;
  margin-left: 5px;
  margin-bottom: 10px;
}

.product-btn {
  display: block;
  width: 165px;
  padding: 15px;
  background-color: #D64374;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: #FAFAFA;
  border-radius: 5px;
  border: none;
  border: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.product-btn:hover {
  background-color: #FAFAFA;
  color: #D64374;
  border-radius: 20%;
  transform: scale(1.1);
  border-color: #D64374;
}

.product-wrapper-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.product-content-wrapper-center {
  width: 444px;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

.product-text-center {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #000000;
  opacity: 0.7;
}

.product-wrapper-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 117px;
}

.product-content-wrapper-end {
  width: 454px;
}

.product-warpper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-content-wrapper {
  width: 320px;
}

.content-warpper {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 46px;
}

.count {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  color: #000000;
}

.text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: #000000;
  opacity: 0.7;
}

.wrapper {
  margin-bottom: 56px;
}

.content {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}

.wrapper-img {
  display: flex;
  align-items: center;
  gap: 26px;
}

.simple-section {
  background-color: #F8EDF0;
  padding: 36px 0 45px 0;
}

.simple-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple-content-wrapper {
  width: 621px;
}

.simple-title {
  font-family: Roboto;
  font-size: 44.2px;
  font-weight: 500;
  line-height: 51.8px;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}

.simple-text {
  width: 607px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  letter-spacing: 0.01em;
  color: #0F0101;
  opacity: 0.7;
  margin-bottom: 31px;
}

.wrapper {
  display: flex;
  gap: 5px;
}

.simple-count {
  display: block;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.78px;
  color: #000000;
  margin-bottom: 20px;
}

.simple {
  display: flex;
  align-items: center;
  gap: 25px;
}

.simple-link-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: black;
  padding: 12px;
  border-radius: 5px;
}

.simple-link {
  width: 100px;
  font-family: Roboto;
  color: white;
  font-weight: 600;
}

.simple-link-two-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: black;
  padding: 12px;
  border-radius: 5px;
}

.simple-link-two {
  width: 100px;
  font-family: Roboto;
  color: white;
  font-weight: 600;
}

.question-section {
  padding: 110px;
}

.question-title {
  margin: 0 auto;
  width: 522px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 500;
  line-height: 51.56px;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}

.question-form {
  text-align: center;
}

.question-input-1 {
  width: 303px;
  padding: 29px 10px 29px 25px;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
  outline: none;
}

.question-input-2 {
  margin-left: 27px;
  width: 303px;
  padding: 29px 10px 29px 25px;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
  outline: none;
  margin-bottom: 37px;
}

.question-input-3 {
  width: 500px;
  padding: 29px 340px 29px 25px;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
  outline: none;
}

.question-btn {
  width: 134px;
  background-color: #D64374;
  padding: 26px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.site-footer {
  background-color: #0A0808;
  padding: 70px 0 100px 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-first-child {
  width: 207px;
}

.footer-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.76px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 25px;
}

.footer-count {
  display: block;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.footer-link-wrapper {
  display: flex;
  gap: 10px;
}

.footer-second-child {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-second-count {
  display: block;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.footer-second-child-link {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer-third-child {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-third-child-link {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.8;
}

.footer-last-child {
  width: 388px;
}

.footer-last-child-count {
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #FFFFFF;
  margin-bottom: 33px;
}

.footer-form {
  margin-bottom: 15px;
}

.footer-label {
  position: relative;
  width: 220px;
}

.footer-input {
  width: 300px;
  background-color: transparent;
  padding: 18px 15px 18px 20px;
  border: 2px solid #D64374;
  border-radius: 5px;
  outline-color: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer-btn {
  position: absolute;
  width: 125px;
  padding: 16px;
  background-color: #D23166;
  border-radius: 5px;
  border: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  color: #FFFFFF;
}

.footer-last-child-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}/*# sourceMappingURL=main.css.map */