.hero-section {
    background-color: rgb(242, 206, 218, 0.3);
    padding-top: 60px;
  }
  
  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-content-wrapper {
    width: 615px;
  }
  .hero-count {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.1em;
    color: var(--color-text);  
    margin-bottom: 6px;
  }
  .hero-title {
    font-family: Hind Madurai;
    font-size: 57.33px;
    font-weight: 800;
    line-height: 69.08px;
    color: var(--color-text);
    opacity: 0.9;
    margin-bottom: 35px;  
  }
  .hero-title > span{
    font-family: Hind Madurai;
    font-size: 57.33px;
    font-weight: 800;
    line-height: 69.08px;
    color: var(--color-btn);
    opacity: 0.9;
  }
  .hero-text {
    font-family: Hind Madurai;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--color-text);
    opacity: 0.6;  
    margin-bottom: 50px;
  }
  .hero-btn {
     width: 165px;
     padding: 16px;
     background-color: var(--color-btn);
     color: #FAFAFA;
     border: none;
     border-radius: 5px;
     border: 2px solid transparent;
     transition: all 0.3s;
     cursor: pointer;
     font-family: Hind Madurai;
     font-size: 16px;
     font-weight: 700;
     line-height: 22.08px;   
  }
  .hero-btn:hover{
     background-color: #FAFAFA;
     color: var(--color-btn);
     border-color: var(--color-btn);
     border-radius: 20%;
     transform: scale(1.1);
  }