.question-section {
    padding: 110px;
}

.question-title{
    margin: 0 auto;
    width: 522px;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 500;
    line-height: 51.56px;
    text-align: center;
    color: #000000;    
    margin-bottom: 36px;
}
.question-form {
    text-align: center;
}

.question-input-1 {
    width: 303px;
    padding: 29px 10px 29px 25px;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    outline: none;
}
.question-input-2 {
    margin-left: 27px;
    width: 303px;
    padding: 29px 10px 29px 25px;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    outline: none;
    margin-bottom: 37px;
}
.question-input-3 {
    width: 500px;
    padding: 29px 340px 29px 25px;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    outline: none;
}
.question-btn {
    width: 134px;
    background-color: #D64374;
    padding: 26px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}